body {
  color: #27390c;
}

#rcorners1 {
  border-radius: 25px;
  background: #558610;
  padding: 20px;
  width: 200px;
  height: 150px;
  color: white;
  cursor: pointer;
  transition: 1s;
  font-family: open, sans-sarif;
  text-align: center;
  margin-left: 20px;
}
#rcorners1:hover {
  background: black;
}
#rcorners3 {
  border-radius: 25px;
  background-image: url(./img/280418661_3080022715545820_1795906388286099005_n.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: repeat;
  padding: 20px;
  color: white;
  width: 200px;
  height: 150px;
  margin-left: 20px;
  transition: 1s;
  cursor: pointer;
}
#rcorners3:hover {
  opacity: 0.7;
}

.borderimg {
  border: 10px solid transparent;
  padding: 15px;
  color: white;
  font-family: open, sans-sarif;
  border-image: url(/img/280418661_3080022715545820_1795906388286099005_n.jpg)
    30 round;
  background: rgb(66, 1, 1);
  cursor: pointer;
}
.borderimg:hover {
  background: black;
}
.borderimg1 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(/img/280418661_3080022715545820_1795906388286099005_n.jpg)
    30 stretch;
}
.borderimg2 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(/img/280418661_3080022715545820_1795906388286099005_n.jpg)
    50% round;
}

.background {
  background: url(/img/280418661_3080022715545820_1795906388286099005_n.jpg)
      left bottom no-repeat,
    url(/img/IMG_3697.JPG) right top repeat;

  font-size: 25px;
  width: 60%;
  height: 40vh;
  color: rgb(212, 215, 214);
  padding: 20px;
  font-family: open, sans-sarif;
}
div.ex1 {
  background-color: lightgreen;
  border: 2px solid black;
  padding: 15px;
}

div.ex2 {
  background-color: transparent;
  border: 2px solid black;
  padding: 15px;
}
.par {
  color: rgb(63, 63, 37);
  border: 10px solid currentcolor;
  padding: 15px;
}
.par1 {
  background-color: currentColor;
  padding: 20px;
}
.par1 p {
  color: rgb(255, 239, 239);
}
.paragraph {
  border: 2px solid rgb(25, 21, 21);
}
.paragraph span {
  border: inherit;
}
.grad {
  background-image: radial-gradient(red 5%, yellow 15%, green 60%);
  height: 50vh;
  width: 50%;
}
.conic {
  height: 50vh;
  width: 50%;

  background-image: conic-gradient(red 45deg, yellow 90deg, green 210deg);
}
